html { 
  background: url(https://farm8.staticflickr.com/7488/15764141537_63a7e17c82_o.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

